[Unit]
Description=Linux System SSH/rsync backup to NAS
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/sbin/zuzu-system-backup/backup.py --config /usr/local/sbin/zuzu-system-backup/backup.yaml
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
